/* Breakpoints */
$desktop-width: 1400px;
$tablet-width: 860px;
$tablet-min-width: 700px;

/* Container for background*/
$d-container-bcg: 1000px;

/* Container */
$desktop-container: 770px;
$tablet-container: 700px;

/* Colors*/
$base-color: #2f1b15;
$pl-color: #231f20;
$light-color: #3d3d3d;